site_name: ML Engineer From Scratch
site_url: https://harish-tamilarasan.github.io/ML_Engineer_From_Scratch/
docs_dir: docs

theme:
  name: material
  custom_dir: docs/overrides
  features:
    - navigation.sections
    - navigation.expand
    - content.code.copy
    - toc.integrate

plugins:
  - mkdocs-jupyter:
      include_source: True
      execute: False
      allow_errors: False
      theme: light
      include_requirejs: True

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight
  - pymdownx.superfences

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: README.md
  - Supervised Learning:
      - Linear Regression:
          - Tutorial (Exercises): supervised/linear_regression/tutorial.ipynb
          - Solution Reference: supervised/linear_regression/experimentation.ipynb
